<div class="treeChooser">
  <div class="treeChooser-input"
       ng-class="{'treeChooser-input-focused': vm.focused}">
    <span ng-if="vm.enablePills"
          ng-click="vm.removeFromModel(item); focusInput(); vm.show();"
          ng-repeat="item in vm.getModelAsItems()">
      {{item[vm.properties.label]}}
    </span>
    <input type="text"
           ng-disabled="vm.ngDisabled"
           ng-model="vm.filterText"
           ng-keydown="vm.onTextKeyDown($event)"
           ng-focus="vm.focused = true; vm.checkFocused()"
           ng-blur="vm.focused = false"
           placeholder="{{vm.ngPlaceholder}}"
           ng-click="vm.show()">
  </div>

  <ul ng-show="vm.shown"
      ng-keydown="vm.onListKeyDown($event)"
      ng-focus="vm.next()"
      ng-style="getListStyles()"
      class="treeChooser-list"
      tabindex="-1">
    <li ng-repeat="item in vm.getPresentItems()"
        tree-chooser-item="item"></li>
    <li ng-if="!vm.getPresentItems().length">No match</li>
  </ul>
</div>
